.calculator {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "display display" "keys operators";
  background-color: rgb(64, 80, 95);
}

.display {
  grid-area: display;
}

.keys-container {
  grid-area: keys;
  color: red;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.operator-container {
  grid-area: operators;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.display {
  text-align: right;
  margin: auto 0;
  padding-right: 0.25em;
  font-size: 1.5em;
}